<h3>Formulario de contacto</h3>

<div class="container">
  <form action="/action_page.php">
    <label for="fname">Nombre</label>
    <input type="text" id="fname" name="firstname" placeholder="Tu nombre">

    <label for="subject">Asunto</label>
    <textarea id="subject" name="subject" placeholder="escribe algo" style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>