header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 10px;

}

.logo {
    padding: 100px;
    display: flex;
    align-items: center;
}

.nombre-empresa {
    font-family: 'Ubuntu', sans-serif;
}

.logo img {
    height: 50px;
    margin-right: 10px;

}

